
{% extends 'base.html' %}
<style>
.p1
{
    margin:50px!important;
}
</style>
{% block body %}
<h2>Register</h2>
<form action="{% url 'register' %}" method="POST">
 {% csrf_token %}
 {% for field in registration_form %}
 <p class="p1">
    {{field.label_tag}}
    {{field}}

    {% if field.help_text %}
    <small style="color:grey;">{{field.help_text}}</small>


    {% endif %}

    {% for error in field.errors %}
        <p style="color:red;">{{error}}</p>
    {% endfor %}
    </p>
    {% endfor %}

 <button type="submit">Register</button>

 </form>

 {% endblock %}